.venv/

/chatbot/.env
/chatbot/.mypy_cache
/chatbot/app/__pycache__
/chatbot/app/util/__pycache__
/chatbot/app/configurations/__pycache__
/chatbot/app/core/embedding/__pycache__
/chatbot/app/core/language_models/__pycache__
/chatbot/app/core/retrieval/__pycache__
/chatbot/app/routers/__pycache__
/chatbot/app/services/__pycache__
