./.env

./app/__pycache__
./app/configurations/__pycache__
./app/core/embedding/__pycache__
./app/core/language_models/__pycache__
./app/core/retrieval/__pycache__
./app/routers/__pycache__
./app/services/__pycache__
